/_build
.ipynb_checkpoints
/venv*
.jupyter_cache
jupyter_execute
.python-version
*AUD*.md
content/statistics.md
content/welcome_message.md

notebooks/**/token.txt
.DS_Store

# Personal practice/testing folders
content/notebooks/me_trying/
